#time {
    color: rgba(190,92,92);
    background-color: white;
    padding: 6px;
    border: 2px solid rgba(112,112,112);
    border-radius: 30px;
}
#soup-1{
    background-image: url(../image/설농탕.jpg);
}
#soup-2{
    background-image: url(../image/도가니탕.jpg);
}
#soup-3{
    background-image: url(../image/떡만두설농탕.jpg);
}
