/* body */
body {
    margin:0; 
    padding:0; 
    width:100%; 
    height:100%;
    position: fixed;
    background-color: rgba(255,247,238,1);
}
/* flex design (section)*/
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* title */
.title{
    color: rgba(59,29,10,.8);
    text-decoration: underline;
    text-underline-position: under;
}

/* button style */
.white-btn{
    cursor: pointer;
    border: 3px solid rgba(146,129,104,.94);
    color: white;
    width: 80%;
    border-radius: 40px;
    padding: 6px;
}

/* text */
.text1 {
    font-size: 4rem;
    font-weight: 700;
}
.text2 {
    font-size: 3rem;
    font-weight: 700;
}
.text3 {
    font-size: 2rem;
    font-weight: 700;
}
.text4{
    font-size: 1rem;
    font-weight: 700;
}

/* 중앙정렬 */
.align-center {
    text-align: center;
}

/* 돌아가기 버튼 */
.return {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.return .btn{
    position: fixed;
    cursor: pointer;
    bottom: 5%;
    width: 80%;
    border: 4px solid rgba(146,129,104,.94);
    color: black;
    background-color: white;
    border-radius: 30px;
    padding: 6px;
    z-index: 2;
}

/* 뒤로가기 버튼 */
.back .btn{
    position: fixed;
    bottom: 5%;
    left: 5%;
    cursor: pointer;
    border: 4px solid black;
    color: black;
    background-color: rgba(255,247,238,1);
    border-radius: 30px;
    padding: 6px;
}

/* 확인버튼 */
.ok .btn{
    position: fixed;
    bottom: 5%;
    right: 5%;
    cursor: pointer;
    border: 4px solid black;
    color: black;
    background-color: #FFF7EE;
    border-radius: 30px;
    padding: 6px;
}